body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #8cb8ff;
}

.content {
  width: 90%;
  max-width: 700px;
  background: #fff;
}

#site-title {
  font-family: 'heal', 'arial';
}
